*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
background-color: rgba(231, 237, 247, 0.995);

}

/* For same Design */
.dark1{
color:#000000 ;
font-weight: bold;
font-size: 3rem;
}

.dark2{
 color: #252432;
}

.dark3{
    color: #8987A1;
    font-size: 1.3rem;
}
.gold{
  color: #E95A08;  
}

.navbar{
    display: flex;
/* background-color: rgba(231, 237, 247, 0.995); */
    justify-content: space-between;
    margin:30px 130px ;
    text-align: center;
    align-items: center;
}

.navbar .menu{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar li{
       list-style: none;
    padding: 12px;

}

.navbar li a{
    text-decoration: none;
        font-size:20px ;
        font-size: bold;


}




/* hero area design start */

.text-img-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    /* margin: 220px 150px 200px 130px; */
}

.text-sec{
    width: 40%;
    margin-left: 140px;
}

.text-sec h1{
    font-size: 50px;
}

.text-sec p{
    color: rgba(0, 0, 0, 0.5);
}

.img-sec{
    max-width: 100%;
  
    height: 350px;
    
}

.img-sec img{

}



/* Main area design start */
 
.plant-parent{
padding-top: 150px;
   margin: 0 auto; 

}

.plant-text{
margin-top: 90px;
    text-align: center;
}


.plant-text .dark{
font-size: 2.7rem;

}

.plant-text .darkk{
    font-size: 22px;
    color: #8987A1;

}

.plant1 h1{
    color: #645f5f;
    font-size: 22px;
}
.plant1 p{
    font-weight: bold;
    font-size: 22px;
}




/* Plant img area design start */

.plant-container{
text-align: center;

    display: grid;
    grid-template-columns: repeat(4,1fr);


}

.plant-container .plant1{
width: 275px;
border-radius:7px ;
background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
margin-top: 25px;
}


.btn{
    background-color:  #E95A08 ;
    color: white;
    font-weight: bold;
width: 100%;
padding: 10px 0;
border: none;
}




/* Responsive header section */

/* responsive for mobile phone  */

/* Responsive header section */

/* responsive for mobile phone  */

@media (min-width: 576px)
and (max-width:767px) {
  .navbar{
    flex-direction: column;

  } 
   
  .menu{
    flex-direction: column;
  }

.text-img-banner{
    /* text-align: center; */
flex-direction: column-reverse;

}
.text-sec{
width: 90%;
height: 170px;
margin-left: -50px;
margin-top: -80px;


}

.text-sec h1{
    font-size: 2rem;
}

.text-sec p{
    font-size: 1.7rem;
}


.img-sec img{
    margin: 0 auto;
    width: 300px;
}


/* Our plant design section */
.plant-parent{
    padding-top:2px;
}

.plant-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:0px;
}

.plant1{
    gap: 0px;
    padding: 0px;
     width:150px;
     border: 4px solid ref;


     
}

.plant-text h1{
font-size: 20px;
}

.plant-text .dark3{
    font-size: 10px;
}

.plant1 img{
}

}